<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <body>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">WELCOME!</h1>
        <p class="lead">This is a simple polls application.</p>
        <hr class="my-4">
        <p>If you want to try this app, click the button below.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'polls:index' %}" role="button">Polls</a>
      </div>
    </div>

  </body>
</html>
